* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border: none;
	outline: none;
	font-family: Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16px;
}
body {
	max-width: 800px;
	margin: auto;
	padding: 16px;
	background-color: white;
	color: black;
}
header, nav {
	display: inline-block;
}
nav {
	float: right;
}
h1 {
	font-size: 40px;
	margin-top: 16px;
	margin-bottom: 16px;
}
h1 a {
	color: white;
	background-color: blue;
	text-decoration: none;
	border-radius: 8px;
	padding: 8px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 24px;
}
a {
	font-size: 1em;
	color: blue;
	text-decoration: underline;
}
input, select {
	font-size: 1em;
	color: black;
	background-color: white;
	border: 2px solid blue;
	border-radius: 8px;
	padding: 8px;
	max-width: 50%;
}
textarea {
	width: 100%;
	resize: vertical;
	background-color: white;
	border: 2px solid blue;
	border-radius: 8px;
	padding: 8px;
	color: black;
}
button {
	color: white;
	background-color: blue;
	border-radius: 8px;
	padding: 8px;
}
input[type="checkbox"] + label {
	border: 2px solid blue;
	border-radius: 8px;
	padding: 4px;
}
input[type="checkbox"]:checked + label {
	color: white;
	background-color: blue;
}
footer {
	text-align: center;
}
hr {
	border: 1px solid black;
	width: 100%;
	margin-top: 32px;
	margin-bottom: 32px;
}
ul {
	margin-left: 16px;
}
.blue {
	font-size: 1em;
	color: blue;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
	h1 a {
		color: black;
		background-color: deepskyblue;
	}
	a {
		color: deepskyblue;
	}
	input, select {
		color: white;
		background-color: black;
		border-color: deepskyblue;
	}
	textarea {
		background-color: black;
		border-color: deepskyblue;
		color: white;
	}
	button, input[type="checkbox"]:checked + label {
		color: black;
		background-color: deepskyblue;
	}
	input[type="checkbox"] + label {
		border-color: deepskyblue;
	}
	hr {
		border-color: white;
	}
	.blue {
		color: deepskyblue;
	}
}
