@font-face {
	font-family: OpenSans;
	src: url(OpenSans-Regular.ttf);
}
@font-face {
	font-family: OpenSans;
	src: url(OpenSans-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: OpenSans;
	src: url(OpenSans-Italic.ttf);
	font-style: italic;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border: none;
	outline: none;
	font-family: OpenSans, sans-serif;
	font-weight: normal;
	font-size: 16px;
}
body {
	max-width: 800px;
	margin: auto;
	padding: 16px;
	background-color: #eef;
	color: black;
}
header, nav {
	display: inline-block;
}
nav {
	float: right;
}
h1 {
	font-size: 40px;
	margin-top: 16px;
	margin-bottom: 16px;
}
h1 a {
	color: #eef;
	background-color: #22f;
	text-decoration: none;
	font-weight: bold;
	border-radius: 8px;
	padding: 8px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 24px;
}
b {
	font-weight: bold;
}
a {
	font-size: 1em;
	color: #22f;
	text-decoration: underline;
}
input, select {
	font-size: 1em;
	color: black;
	background-color: #eef;
	border: 2px solid #22f;
	border-radius: 8px;
	padding: 8px;
	max-width: 40%;
}
textarea {
	width: 100%;
	resize: vertical;
	background-color: #eef;
	border: 2px solid #22f;
	border-radius: 8px;
	padding: 8px;
	color: black;
}
button {
	color: #eef;
	background-color: #22f;
	border-radius: 8px;
	padding: 8px;
}
input[type="checkbox"] + label {
	border: 2px solid #22f;
	border-radius: 8px;
	padding: 4px;
}
input[type="checkbox"]:checked + label {
	color: #eef;
	background-color: #22f;
}
footer {
	text-align: center;
}
hr {
	border: 1px solid black;
	width: 100%;
	margin-top: 32px;
	margin-bottom: 32px;
}
ul {
	margin-left: 16px;
}
.blue {
	font-size: 1em;
	color: #22f;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #111;
		color: white;
	}
	h1 a {
		color: #111;
		background-color: deepskyblue;
	}
	a {
		color: deepskyblue;
	}
	input, select {
		color: white;
		background-color: #111;
		border-color: deepskyblue;
	}
	textarea {
		background-color: #111;
		border-color: deepskyblue;
		color: white;
	}
	button, input[type="checkbox"]:checked + label {
		color: #111;
		background-color: deepskyblue;
	}
	input[type="checkbox"] + label {
		border-color: deepskyblue;
	}
	hr {
		border-color: white;
	}
	.blue {
		color: deepskyblue;
	}
}
