{% include "header.html" %}

<main>
	<h2>About</h2>
	<br>
	<p>
		availa.blue is a website that helps you figure out when to schedule things with multiple people involved. Everyone inputs the times they are available, and then the website shows when those times overlap. It was made by <a href="https://diefonk.net" target="_blank">Diefonk</a>.
	</p>
	<br><br><br>

	<h2 id="privacy">Privacy Policy</h2>
	<br>
	<p>
		This website does not use cookies. It does not store any information about you that you have not explicitly entered, and it does not share your information with any third parties.
	</p>
</main>

{% include "footer.html" %}
