{% include "header.html" %}

<main>
	<h2>Feedback</h2>
	<br><br>

	<form action="/post-feedback" method="post">
		<h3>How useful do you find this website?</h3>
		<br>
		<label for="useful1">Completely useless</label>
		<input type="radio" name="useful" id="useful1" value="1" required>
		<input type="radio" name="useful" value="2">
		<input type="radio" name="useful" value="3">
		<input type="radio" name="useful" value="4">
		<input type="radio" name="useful" id="useful5" value="5">
		<label for="useful5">Very useful</label>
		<br><br><br>
		<label for="useful-comment">Comment <i>(optional)</i></label>
		<br><br>
		<textarea name="useful-comment" id="useful-comment" rows="8"></textarea>
		<br><br><br><br>

		<h3>How easy do you think this website is to use?</h3>
		<br>
		<label for="easy1">Very difficult</label>
		<input type="radio" name="easy" id="easy1" value="1" required>
		<input type="radio" name="easy" value="2">
		<input type="radio" name="easy" value="3">
		<input type="radio" name="easy" value="4">
		<input type="radio" name="easy" id="easy5" value="5">
		<label for="easy5">Very easy</label>
		<br><br><br>
		<label for="easy-comment">Comment <i>(optional)</i></label>
		<br><br>
		<textarea name="easy-comment" id="easy-comment" rows="8"></textarea>
		<br><br><br><br>

		<button type="submit">Submit</button>
	</form>
</main>

{% include "footer.html" %}
