{% include "header.html" %}

<main>
	<h2>When are you available for <span class="blue">{{ data["title"] }}</span>?</h2>
	<br>

	<form action="/{{ id }}/post-reply" method="post">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" required {% if data["name"] %} value="{{ data['name'] }} {% endif %}">
		<br><br>

		<label for="timezone">Time zone</label>
		<select name="timezone" id="timezone" class="js" onchange="changeTimezone()">
			{% for zone in timezones %}
				<option value="{{ zone['offset'] }}" {% if zone["offset"] == data["replyTimezone"] %} selected {% endif %}>{{ zone["name"] }}</option>
			{% endfor %}
		</select>
		<noscript>
			<label>
				{% for zone in timezones %}
					{% if zone["offset"] == data["replyTimezone"] %}
						{{ zone["name"] }}
					{% endif %}
				{% endfor %}
				<i>- Requires JavaScript to change</i>
			</label>
		</noscript>
		{% if not data["name"] %}
			<script src="{{ url_for('static', filename = 'setTimezone.js') }}"></script>
		{% endif %}
		<br><br>

		<label for="format">Time format</label>
		<select name="format" id="format" class="js" onchange="changeTimezone()">
			<option value="12" {% if data["format"] == "12" %} selected {% endif %}>12h (am/pm)</option>
			<option value="24" {% if data["format"] == "24" %} selected {% endif %}>24h (00-23)</option>
		</select>
		<noscript>
			<label>
				{% if data["format"] == "12" %}
					12h (am/pm)
				{% else %}
					24h (00-23)
				{% endif %}
				<i>- Requires JavaScript to change</i>
			</label>
		</noscript>
		<br><br>

		{% for time in times %}
			<label id="date{{ time['index'] }}">
				{% if time["date"] %}
					<br>
					{{ time["date"] }}
					<br>
				{% endif %}
			</label>
			<input type="checkbox" name="{{ time['index'] }}" id="{{ time['index'] }}" {% if time["checked"] %} checked {% endif %}>
			<label for="{{ time['index'] }}" id="time{{ time['index'] }}">{{ time["label"] }}</label>
			<br>
		{% endfor %}
		<script>
			const weekdays = [
				"Sunday",
				"Monday",
				"Tuesday",
				"Wednesday",
				"Thursday",
				"Friday",
				"Saturday"
			];
			const months = [
				"January",
				"February",
				"March",
				"April",
				"May",
				"June",
				"July",
				"August",
				"September",
				"October",
				"November",
				"December"
			];
			function changeTimezone() {
				const timezone = Number(document.getElementById("timezone").value);
				let time = new Date("{{ data['start'] }}");
				time.setHours(0);
				time.setMinutes(time.getMinutes() + ({{ data["timezone"] }} - timezone));
				let date = "";
				for (let index = 0; index < {{ data["length"] }}; index++) {
					let timeLabel = document.getElementById("time" + index);
					if (document.getElementById("format").value === "12") {
						let hours = time.getHours();
						let suffix = hours < 12 ? " am" : " pm";
						if (hours === 0) {
							hours = "12:";
						} else if (hours > 12) {
							hours = (hours - 12).toString() + ":";
						} else {
							hours = hours.toString() + ":";
						}
						let minutes = time.getMinutes();
						if (minutes < 10) {
							minutes = "0" + minutes;
						} else {
							minutes = minutes.toString();
						}
						timeLabel.innerHTML = hours + minutes + suffix;
					} else {
						timeLabel.innerHTML = time.toTimeString().substr(0, 5);
					}
					let dateLabel = document.getElementById("date" + index);
					let nextDate = months[time.getMonth()] + " ";
					nextDate += time.getDate() + ", ";
					nextDate += weekdays[time.getDay()];
					if (date !== nextDate) {
						dateLabel.innerHTML = "<br>" + nextDate + "<br>";
						date = nextDate;
					} else {
						dateLabel.innerHTML = "";
					}
					time.setMinutes(time.getMinutes() + {{ data["interval"] }});
				}
			}
			changeTimezone();
		</script>
		<br>

		<button type="submit">Submit</button>
	</form>
</main>

{% include "footer.html" %}
