{% include "header.html" %}

<main>
	<h2>When are you available for <span class="blue">{{ data["title"] }}</span>?</h2>
	<br>

	<form action="/{{ id }}/post-reply" method="post">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" required {% if data["name"] %} value="{{ data['name'] }} {% endif %}">
		<br><br>

		<label for="timezone">Time zone</label>
		<select name="timezone" id="timezone" class="js" onchange="changeTimezone()">
			{% for zone in timezones %}
				<option value="{{ zone['offset'] }}" {% if zone["offset"] == data["replyTimezone"] %} selected {% endif %}>{{ zone["name"] }}</option>
			{% endfor %}
		</select>
		<noscript>
			<label>
				{% for zone in timezones %}
					{% if zone["offset"] == data["replyTimezone"] %}
						{{ zone["name"] }}
					{% endif %}
				{% endfor %}
				<i>- Requires JavaScript to change</i>
			</label>
		</noscript>
		<script src="{{ url_for('static', filename = 'setTimezone.js') }}"></script>
		<br><br>

		{% for time in times %}
			<label id="date{{ time['index'] }}">
				{% if time["date"] %}
					<br>
					{{ time["date"] }}
					<br>
				{% endif %}
			</label>
			<input type="checkbox" name="{{ time['index'] }}" id="{{ time['index'] }}" {% if time["checked"] %} checked {% endif %}>
			<label for="{{ time['index'] }}" id="time{{ time['index'] }}">{{ time["label"] }}</label>
			<br>
		{% endfor %}
		<script>
			function changeTimezone() {
				const timezone = Number(document.getElementById("timezone").value);
				let time = new Date("{{ data['start'] }}");
				time.setHours(0);
				time.setMinutes(time.getMinutes() + ({{ data["timezone"] }} - timezone));
				let date = "";
				for (let index = 0; index < {{ data["length"] }}; index++) {
					let timeLabel = document.getElementById("time" + index);
					timeLabel.innerHTML = time.toTimeString().substr(0, 5);
					let dateLabel = document.getElementById("date" + index);
					const weekdays = [
						"Sunday",
						"Monday",
						"Tuesday",
						"Wednesday",
						"Thursday",
						"Friday",
						"Saturday"
					];
					const months = [
						"January",
						"February",
						"March",
						"April",
						"May",
						"June",
						"July",
						"August",
						"September",
						"October",
						"November",
						"December"
					];
					let nextDate = months[time.getMonth()] + " ";
					nextDate += time.getDate() + ", ";
					nextDate += weekdays[time.getDay()];
					if (date !== nextDate) {
						dateLabel.innerHTML = "<br>" + nextDate + "<br>";
						date = nextDate;
					} else {
						dateLabel.innerHTML = "";
					}
					time.setMinutes(time.getMinutes() + {{ data["interval"] }});
				}
			}
			changeTimezone();
		</script>
		<br>

		<button type="submit">Submit</button>
	</form>
</main>

{% include "footer.html" %}
